<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>bit</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="../static/lib/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/script.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="index.html">LOGO</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-center">		        
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BUY <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="index?coinType=BTC">BTC</a></li>
		            <li><a href="index?coinType=ETH">ETH</a></li>
		            <li><a href="index?coinType=OTHERS">OTHERS</a></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SELL <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="sell?coinType=BTC">BTC</a></li>
		            <li><a href="sell?coinType=ETH">ETH</a></li>
		            <li><a href="sell?coinType=OTHERS">OTHERS</a></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">POST <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="post.html">BTC</a></li>
		            <li><a href="#">ETH</a></li>
		            <li><a href="#">OTHERS</a></li>
		          </ul>
		        </li>
		        <li><a href="/search">SEARCH</a></li>
		      </ul>		      
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">EN/中</a></li>
		        <li><a href="profile.html">Hi, Jerry</a></li>

		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</header>
	<section>
		<div class="container">
			<h1>Your email has been verified!</h1>
			<a href="index.html">Back to Home Page</a>
		</div>
	</section>
	

</body>
</html>